## Format variant data to fetch variant effects and consequences via PredictSNP2 software

The variant data should be in the following structure:

CHR,START,[END,]REFERENCE_ALLELE,ALTERNATIVE_ALLELE

In [2]:
# Import modules and packages

import os
import pandas as pd

In [3]:
# Set constants and functions

home_path = str(os.path.dirname(os.getcwd()))

gene_location_df = pd.read_csv(os.path.join(home_path, "Data_descriptions", "locations.csv"))
genes = gene_location_df.location_name

In [11]:
# Import variant data. Variant data is split across two different types of tables. Import both into pandas dataframes and merge.
collated_variant_df = pd.DataFrame()
for gene in genes:
    variant_info_path = os.path.join(home_path,"Data", "SUPER", "ALL_{}.acount".format(gene))
    variant_info_path2 = os.path.join(home_path,"Data", "Supplementary Table", "SUPER", "{}_Count.csv".format(gene))
    if os.path.exists(variant_info_path):
        variant_info_df = pd.read_csv(variant_info_path, sep="\t")[["#CHROM","ID", "REF", "ALT"]]
        variant_info_df2 = pd.read_csv(variant_info_path2, sep="\t")[["ID", "POS", "REF", "ALT"]]
        variant_info_df["GENE"] = gene
        variant_info_df2["GENE"] = gene
        variant_info = pd.merge(left=variant_info_df, right=variant_info_df2, on=["ID","REF","ALT","GENE"])
    collated_variant_df = pd.concat([collated_variant_df, variant_info]).reset_index(drop=True)

collated_variant_df

        #CHROM            ID REF ALT    GENE        POS
0           13  rs1185300901   C  CT  COL4A1  110148882
1           13   rs552586867   C   G  COL4A1  110148891
2           13    rs59409892   C   G  COL4A1  110148917
3           13   rs535182970   G   C  COL4A1  110148920
4           13    rs56406633   A   G  COL4A1  110148959
...        ...           ...  ..  ..     ...        ...
128206      21   rs981058453   C   T   OLIG2   33029149
128207      21   rs182058038   T   A   OLIG2   33029193
128208      21     rs7278343   A   G   OLIG2   33029257
128209      21   rs151281307  AT   A   OLIG2   33029262
128210      21   rs554778511   G   A   OLIG2   33029268

[128211 rows x 6 columns]